body,html{
    max-width: 100%;
    background-color: #1F1F1F;
}
svg{
    height: 60%;
padding: 5% 32%;
    background-color: #1F1F1F;
    position: absolute;
    animation: animate 2.8s linear forwards;
    animation-delay: 0.1s;
}
.poly{
    stroke: #F1F1F1;
    background-color: transparent;
    fill:none;
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    animation: animate 2s linear forwards;
    animation-delay: 0.2s;
}
.deg{
    stroke: #F1F1F1;
    background-color: transparent;
    fill:none;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: animate 2s linear forwards;
    animation-delay: 0.1s;
}
@keyframes animate{
   
   0%{
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
    }    
    60%{
        opacity: 100%;
        stroke-dasharray: 300;
        stroke-dashoffset: 10;
    }
    99%{
        opacity: 10%;

    }   
    100%{
        opacity: 10%;
        visibility: hidden;
        display: none;
    }
}
@media (width<700px){
    svg{
        width: 40%;}
           
}
@media (width<1400px){
    svg{
        height: 40%;
        padding: 15% 27%;}
           
}