td,tr{
    border: 0.1em solid #1F1F1F;
    border-collapse: collapse;
    height: 3em;
    max-width: 13%;
    border-collapse: collapse;
    text-align:center;
}
table{
    border: 0.2em solid #1F1F1F;
    border-collapse: collapse;
    width: 86%;
    margin: 2em auto;
    border-collapse: collapse;
}
th{
    text-transform: uppercase;
    text-align:center;
}