
#munetimg,#inmunetimg,#wbmimg{
    display: inline-block;
    height: 5em;
    margin: 0 0 1em 0;
}
body{
    text-align: center;
    overflow: hidden;
}
.qs{
    margin:1em 0 5em 0;
    text-align: center;
}
section{
    width: 80%;
    margin: 2.6em auto;
}