
#myVideo {
    position:absolute;
height: 100%;
width: 80%;
margin: 0 10%;
  }
header{
   position: absolute;
  }
section{
    position: absolute;
    display: block;
    margin: 10% 10%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width:80%;
    height: 40%;
    padding-bottom: 20em;
  }
  .sif{
    display: inline-block;
    border: none;
    width: 25em;
  }
  section p{
    display: block;
    font-size: 1.15em;
    width: 90%;
  }
section h1{
  margin-left: 8.6%;
}
#rcyimg{
  float: left;
height: 24em;
padding-bottom: 8em;
margin: 0 1.3em;
  }
  @media (max-width: 900px){
    html{
      overflow-y: scroll;
    }
  section{
    margin: 22% 10%;
    font-size: 0.7em;
  }
 #phqimg{
  height: 28em;
 }
 section p{
  display: block;
  width: 100%;
}
#temas{
  float: left;
}
.sif{
  display: inline-block;
  border: none;
  margin-left: 1em;
  width: 25em;
}
  }
  @media (max-width: 750px){
    header{
      margin:0 2.8%;
    }
    #rcyimg{
      display: block;
      margin:0.3em 25% 0 25% ;
     }
     section{
      width: 90%;
      text-align: justify;
      margin: 38% 2.5%;
      font-size: 0.55em;
    }
    .sif{
      display: block;
      border: none;
      margin: 0 auto;
      width: 90%;
  }
  #myVideo {
display: none;
}
  }