a{
  text-decoration: none;
}
*{

}
body{
    text-align: center;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
html{
  margin: 0;
  padding: 0;
    font-family: verdana;
    color: #F1F1F1;
    overflow-x: hidden;
    background-color: #1F1F1F;
    height: 200em;
}
nav{
  text-decoration: none;
  width: 98%;
  margin: 0 auto;
  background-color: black;
}
nav li:hover{
  background-color: #1F1F1F;
}
aside{
  position: fixed;
  margin:0 0.7%;
  height: 40em;
  background-color: purple;
  width: 30%;
}

#info,#temas,#redes{
  min-height: 45em;
  border: #F1F1F1 3px solid;
}
#panel{
  width: 25%;
  margin-left: 37%;
  background-color: #F1F1F1;
  height: 5em;
  display: block;
  position: fixed;
}
#panel div{
  background-color: green;
  height: 3em;
  width: 3em;
  margin-left: 5%;
  display: inline-block;
}
#info:hover  #infologo{
  background-color: red;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}